.comp-cabecalho {
    width: 100%;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 50px;
        width: 100%;
        height: 100px;
    }

    > a {
        width: 97px;
        height: 97px;
    }

    > img {
        width: 97px;
        height: 97px;
    }

    #search {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #3D3D3D;
        border-radius: 3px;
        width: 280px;
    }

    #search button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: transparent;
        width: 35px;
        height: 35px;
        padding: 0px;
        transition: 0.3s;
    }
    
    #search button:active {
        transform: translateY(2px);
    }

    #search img {
        width: 30px;
        height: 30px;
    }

    #search input {
        width: 80%;
        margin-left: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        font: 20px 'Bebas neue';
        color: #2b2b2b;
    }

    #buttons-menu {
        display: flex;
        flex-direction: row;
        width: 280px;
        gap: 47px;
    }

    #buttons-menu button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font: 16px 'bebas neue';
        color: #3B3B3B;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #buttons-menu img {
        width: 49px;
        height: 49px;
        margin-bottom: 5px;
    }

    #navegation-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 51px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #navegation-bar a {
        font: 17px 'inter';
        color: #3D3D3D;
        text-decoration: none;
        transition: 0.2s;
    }

    #navegation-bar a:hover {
        color: #666666;
    }
}