.pagina-adm-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../public/assets/images/adm/BackGround1.svg);
    background-size: cover;

    article {
        display: flex;
        flex-direction: row;
        width: 760px;
        height: 496px;
        background-color: #fff;
    }

    .leftside {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .leftside h1 {
        font: 36px 'Inter';
        font-weight: 400;
        color: #686868;
    }

    .leftside img {
        
    }
}