@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;400&display=swap';

.pagina-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    .banner1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: url(../../../../public/assets/images/landingpage/BackgroundLanding.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .banner1 div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .banner1 h1 {
        display: flex;
        flex-direction: column;
        font: 90px 'bebas neue';
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: end;
        margin-right: 50px;
    }
    
    .banner1 span {
        font: 100px 'bebas neue';
        color: #626262;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: -20px;
    }

    .banner1 h5 {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        font: 36px 'bebas neue';
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: end;
        margin-right: 50px;
        margin-bottom: 20px;
    }

    .brincos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0px 30px;
        margin-top: 40px;
    }

    .brincos div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 20px;
    }

    .brincos img {
        width: 540px;
    }

    .brincos h3 {
        width:max-content;
        font: 30px 'Inter';
        color: #3D3D3D;
        border-bottom: 4px solid #3D3D3D;
    }

    .brincos h2 {
        font: 32px 'Inter';
        color: #3D3D3D;
    }

    .brincos a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 203px;
        height: 50px;
        font: 20px "Inter";
        color: #3D3D3D;
        background-color: transparent;
        border: 1px solid #959595;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    .brincos a:hover {
        color: #686868;
        box-shadow: 0px 0px 8px 0px #0000007e;
    }

    .pingentes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0px 30px;
        margin-top: 40px;
    }

    .pingentes div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        padding: 30px 20px;
    }

    .pingentes img {
        width: 540px;
    }

    .pingentes h3 {
        width:max-content;
        font: 30px 'Inter';
        color: #3D3D3D;
        border-bottom: 4px solid #3D3D3D;
        text-align: end;
    }

    .pingentes h2 {
        font: 32px 'Inter';
        color: #3D3D3D;
        text-align: end;
    }

    .pingentes a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 203px;
        height: 50px;
        font: 20px "Inter";
        color: #3D3D3D;
        background-color: transparent;
        border: 1px solid #959595;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

    .pingentes a:hover {
        color: #686868;
        box-shadow: 0px 0px 8px 0px #0000007e;
    }

    .select {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .select div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 40px;
    }

    .select hr {
        width: 30%;
        height: 4px;
        background-color: #3D3D3D;
        border: none;
        outline: none;
    }
    
    #titleselect {
        font: 36px 'Bebas neue';
        color: #3D3D3D;
        margin: 0px 20px;
    }
    
    #selectbt {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    
    #selectbt a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    #selectbt img {
        width: 300px;
        height: 300px;
    }

    #selectbt h1 {
        font: 30px 'Inter';
        color: #3D3D3D;
    }

    #bannerrdp {
        margin-top: 70px;
        background-image: url(../../../../public/assets/images/landingpage/RolexLuxor1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 597.36px;
        margin-bottom: -1px;
    }
}